<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agropol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgroPol">
        <activity
            android:name=".LayoutClasses.DetailsOfEmployeeComplaints"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeeComplaints"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.DetailsOfEmployeeOrders"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeOrders"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.DetailsOfClientComplaints"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.MakeComplaint"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.ClientComplaints"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.DetailsOfClientOrder"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.SummaryOfOrder"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.MakeOrder"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.ClientOrders"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.ClientCatalog"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.ClientMenu"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.AddPlant"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeeCatalog"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeeMenu"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.ClientSignIn"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeeSignIn"
            android:exported="false" />
        <activity
            android:name=".LayoutClasses.EmployeeOrClient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>